<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover_arm">

  <!-- VARIABLES -->
  <xacro:property name="z_transition_j2" value="70" />
  <xacro:property name="y_transition_j3" value="250" />

  <!-- BASE_LINK -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="${pi / 2} 0 0"/>
      <geometry>
        <mesh filename="package://rover_arm_description/meshes/visual/base.stl"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.045" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.095" length="0.125"/>
      </geometry>
    </collision>
  </link>

  <!-- J1 -->
  <link name="j1">
    <visual>
      <origin xyz="0 0 0" rpy="${pi / 2} 0 0"/>
      <geometry>
        <mesh filename="package://rover_arm_description/meshes/visual/j1.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.045 0 0.065" rpy="0 0 0"/>
      <geometry>
        <box size="0.265 0.08 0.08"/>
      </geometry>
    </collision>
  </link>

  <!-- J2 -->
  <link name="j2">
    <visual>
      <origin xyz="0 0 ${-1 * z_transition_j2}" rpy="${pi / 2} 0 0"/>
      <geometry>
        <mesh filename="package://rover_arm_description/meshes/visual/j2.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.2"/>
      </geometry>
    </collision>
  </link>

  <!-- J3 -->
  <link name="j3">
    <visual>
      <origin xyz="0 ${-1 * y_transition_j3} ${-1 * z_transition_j2}" rpy="${pi / 2} 0 0"/>
      <geometry>
        <mesh filename="package://rover_arm_description/meshes/visual/j3.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="0.2"/>
      </geometry>
    </collision>
  </link>

  <!-- CONNECT BASE TO J1 -->
  <joint name="joint_1" type="revolute">
    <!-- Relation -->
    <parent link="base_link"/>
    <child link="j1"/>
    <!-- Positioning and origin of j2 based from base -->
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <!-- Rotation Axis -->
    <axis xyz="0 0 1"/>
    <!-- Limits -->
    <limit lower="0" upper="${2 * pi}" effort="50.0" velocity="1.0"/>
  </joint>

  <!-- CONNECT J2 TO J3 -->
  <joint name="joint_2" type="revolute">
    <!-- Relation -->
    <parent link="j1"/>
    <child link="j2"/>
    <!-- Positioning and origin of j3 based from j2 -->
    <origin xyz="0 0 ${z_transition_j2}" rpy="0 0 0"/>
    <!-- Rotation Axis -->
    <axis xyz="1 0 0"/>
    <!-- Limits -->
    <limit lower="0" upper="${pi}" effort="50.0" velocity="1.0"/>
  </joint>

  <!-- CONNECT J3 TO J4 -->
  <joint name="joint_3" type="revolute">
    <!-- Relation -->
    <parent link="j2"/>
    <child link="j3"/>
    <!-- Positioning and origin of j4 based from j3 -->
    <origin xyz="0 ${y_transition_j3} 0" rpy="0 0 0"/>
    <!-- Rotation Axis -->
    <axis xyz="1 0 0"/>
    <!-- Limits -->
    <limit lower="${-1 * pi}" upper="${pi / 2}" effort="50.0" velocity="1.0"/>
  </joint>

</robot>
