<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="full_rover">
    <!-- INCLUDE THE ARM URDF -->
    <xacro:include filename="$(find rover_arm_description)/urdf/rover_arm.urdf.xacro" />

    <!-- VARIABLES -->
    <xacro:property name="visuals_path" value="package://rover_description/meshes/visual/"/>

    <!-- Positions -->
    <!-- arm positions -->
    <xacro:property name="arm_pos_x" value="-180" />
    <xacro:property name="arm_pos_y" value="250" />
    <xacro:property name="arm_pos_z" value="120" />

    <!-- right suspension coordinates -->
    <xacro:property name="dxs_pos_x" value="350" />
    <xacro:property name="dxs_pos_y" value="54" />
    <xacro:property name="dxs_pos_z" value="0" />
    <xacro:property name="dxs_rotation" value="${pi / 2}" />

    <!-- left suspension coordinates -->
    <xacro:property name="sxs_pos_x" value="-350" />
    <xacro:property name="sxs_pos_y" value="54" />
    <xacro:property name="sxs_pos_z" value="0" />
    <xacro:property name="sxs_rotation" value="${pi / 2}" />

    <!-- right sub suspension coordinates -->
    <xacro:property name="dxs_sub_pos_x" value="0" />
    <xacro:property name="dxs_sub_pos_y" value="-250" />
    <xacro:property name="dxs_sub_pos_z" value="-45" />
    <xacro:property name="dxs_sub_rotation" value="0" />

    <!-- left sub suspension coordinates -->
    <xacro:property name="sxs_sub_pos_x" value="0" />
    <xacro:property name="sxs_sub_pos_y" value="-250" />
    <xacro:property name="sxs_sub_pos_z" value="-45" />
    <xacro:property name="sxs_sub_rotation" value="0" />

    <!-- Camera dimentions and positions -->
    <xacro:property name="pole_height" value="312"/>
    <xacro:property name="pole_width" value="20"/>
    <xacro:property name="camera_len" value="178"/>
    <xacro:property name="camera_width" value="45"/>
    <xacro:property name="camera_height" value="30"/>

    <!-- colors -->
    <material name="gray">
        <color rgba="0.5 0.5 0.5 1"/>
    </material>





    <!-- LINKS -->

    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="${pi / 2} 0 0"/>
            <geometry>
                <mesh filename="${visuals_path}frame.stl"/>    
            </geometry>
            <material name="gray"/>
        </visual>
    </link>

    
    <xacro:rover_arm parent="base_link" prefix="arm_">
        <origin xyz="${arm_pos_x} ${arm_pos_y} ${arm_pos_z}" rpy="0 0 0"/> 
    </xacro:rover_arm>
   

    <link name="dx_suspension">
        <visual>
            <origin xyz="${dxs_pos_x} ${dxs_pos_y} ${dxs_pos_z}" rpy="${dxs_rotation} 0 0"/>
            <geometry>
                <mesh filename="${visuals_path}dx_suspension.stl"/>
            </geometry>  
            <material name="gray"/> 
        </visual>
    </link>

    <link name="dx_sub_suspension">
        <visual>
            <origin xyz="350 303.5 45" rpy="${pi / 2} 0 0"/>
            <geometry>
                <mesh filename="${visuals_path}dx_sub_suspension.stl"/>
            </geometry>
            <material name="gray"/>  
        </visual>
    </link>

    <link name="sx_suspension">
        <visual>
            <origin xyz="${sxs_pos_x} ${sxs_pos_y} ${sxs_pos_z}" rpy="${sxs_rotation} 0 0"/>
            <geometry>
                <mesh filename="${visuals_path}sx_suspension.stl"/>
            </geometry>
            <material name="gray"/>  
        </visual>
    </link>

    <link name="sx_sub_suspension">
        <visual>
            <origin xyz="-350 303.5 45" rpy="${pi / 2} 0 0"/>
            <geometry>
                <mesh filename="${visuals_path}sx_sub_suspension.stl"/>
            </geometry> 
            <material name="gray"/> 
        </visual>
    </link>

    <link name="camera_pole">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <box size="${pole_width} ${pole_width} ${pole_height}"/> 
            </geometry>
            <material name="gray"/>
        </visual>
    </link>

    <link name="camera">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
            <box size="${camera_len} ${camera_width} ${camera_height}"/> 
            </geometry>
            <material name="gray"/>
        </visual>
    </link>


    <!-- JOINTS -->

    <joint name="frame2dx_suspension" type="revolute">
        <parent link="base_link"/>
        <child link="dx_suspension"/>
        <origin xyz="${-1 * dxs_pos_x} ${-1 * dxs_pos_y} ${-1 * dxs_pos_z}" rpy="0 0 0"/>
        <axis xyz="1 0 0"/>
        <limit lower="${-pi}" upper="${pi}" effort="50.0" velocity="1.0"/>
    </joint>

    <joint name="frame2camera_pole" type="fixed">
        <parent link="base_link"/>
        <child link="camera_pole"/>
        <origin xyz="0 360 280" rpy="0 0 0"/>
    </joint>

    <joint name="camera_pole2camera" type="fixed">
        <parent link="camera_pole"/>
        <child link="camera"/>
        <origin xyz="0 0 ${pole_height / 2}" rpy="0 0 0"/>
    </joint>

    <joint name="dx_suspension2dx_sub_suspension" type="revolute">
        <parent link="dx_suspension"/>
        <child link="dx_sub_suspension"/>
        <origin xyz="${dxs_sub_pos_x} ${dxs_sub_pos_y} ${dxs_sub_pos_z}" rpy="0 0 0"/>
        <axis xyz="1 0 0"/>
        <limit lower="${-pi}" upper="${pi}" effort="50.0" velocity="1.0"/>
    </joint>

    <joint name="frame2sx_suspension" type="revolute">
        <parent link="base_link"/>
        <child link="sx_suspension"/>
        <origin xyz="${-1 * sxs_pos_x} ${-1 * sxs_pos_y} ${-1 * sxs_pos_z}" rpy="0 0 0"/>
        <axis xyz="1 0 0"/>
        <limit lower="${-pi}" upper="${pi}" effort="50.0" velocity="1.0"/>
    </joint>

    <joint name="sx_suspension2sx_sub_suspension" type="revolute">
        <parent link="sx_suspension"/>
        <child link="sx_sub_suspension"/>
        <origin xyz="${sxs_sub_pos_x} ${sxs_sub_pos_y} ${sxs_sub_pos_z}" rpy="0 0 0"/>
        <axis xyz="1 0 0"/>
        <limit lower="${-pi}" upper="${pi}" effort="50.0" velocity="1.0"/>
    </joint>

</robot>